*{
  margin: auto;
  padding: 0;
}

.background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#bg{
  filter: contrast(80%);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.headbg{
  background-color: rgba(240, 255, 242, 0.402);
  position: relative;
}

#logo{
  width: 10%;
  height: 10%;
}


ul {
  border-left: 1px solid black;
  list-style-type: none;
  margin-left: 40%;
  padding: 0px;
  overflow: hidden;
}

li {
  float: left;
  border-right: 1px solid black ;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  font-size:20px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 255, 0, 0.251);
  color: rgb(255, 0, 0);
}